{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<!-- div class="alert alert-primary" role="alert" -->  
	{{ message }} 
	 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	 <span aria-hidden="true">&times;</span>
	 </button>
	</div>
{% endfor %}

{%  if current_user.is_authenticated %}
<h1>Edit Blog Post...</h1>
<br/>

<div class="shadow p-3 mb-5 bg-body rounded">

	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}
		{{ form.title(class="form-control") }}
		{{ form.slug.label(class="form-label") }}
		{{ form.slug(class="form-control") }}

		{{ form.content.label(class="form-label") }}
		{{ form.content(class="form-control", rows="15") }}

		<br/>
		{{ form.submit(class="btn btn-secondary") }}
	
		<a href="{{ url_for('posts') }}" class="btn-outline-secondary btn-sm">Back to blog</a>

	</form>

	<!-- add ckeditor to content field -->
	{{ ckeditor.load() }}
	{{ ckeditor.config(name='content') }}
	
</div>
{% else %}
	<h2>Must Be Logged In</h2>
	<a href="{{ url_for('login')}}">Login Here</a>
{% endif %}


{% endblock %}