<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">FlaskIntro2</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user', name='John')}}">User Profile</a>
        </li>

        <!-- begin mods -->
        
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('name')}}">Name</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_user')}}">Add User</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_post')}}">Add Blog Post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('posts')}}">Posts</a>
        </li>


        <!-- endmods-->

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>