{% extends 'base.html' %}

{% block content %}

	<br/>
	<h2>You Searched For: <em>{{ searched }}</em></h2>
	

	<br/>

	{% if posts %}
		{% for post in posts %}
			<div class="shadow p-3 mb-5 bg-body rounded">
			<h2><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h2>
			<small>By:  {{ post.poster.name }}</small><br/>
			<br/>
				<!-- {{ post.author }} <br/> -->
				{{ post.slug }} <br/>
				{{ post.date_posted }} <br/><br/>
				{{ post.content|safe }} <br/><br/> 

				<!-- specific post view -->
				<a href="{{ url_for('post', id=post.id) }}" class="btn-outline-secondary btn-sm">View Post</a>

				<!-- specific post edit -->
				<a href="{{ url_for('edit_post', id=post.id) }}" class="btn-outline-secondary btn-sm">Edit Post</a>

				<!-- specific post delete -->
				<a href="{{ url_for('delete_post', id=post.id) }}" class="btn-outline-danger btn-sm">Delete Post</a>
				
			</div>
		{% endfor %}
	{% else %}\
		Sorry, your search term: <strong>{{ searched }}</strong> was not found.
	{% endif %}

{% endblock %}