{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }} 
	 <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
	 <span aria-hidden="true">&times;</span>
	 </button>
	</div>
{% endfor %}





{% if id == current_user.id %}
	<h1>Update User...</h1>
	<br/>

	<div class="shadow p-3 mb-5 bg-body roounded"

	<!--  this code might be a bug -->
	<form action="/update/{{ record_to_update.id }}" method="POST">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control",
		value=record_to_update.name) }}

		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control",
		value=record_to_update.username) }}

		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control",
		value=record_to_update.email) }}

		{{ form.favorite_color.label(class="form-label") }}
		{{ form.favorite_color(class="form-control",
		value=record_to_update.favorite_color) }}

		<br/>
		{{ form.submit(class="btn btn-secondary") }}

		<a href="{{ url_for('delete', id=record_to_update.id )}}">Delete</a>
	</form>
	<br/>
	</div>
{% else %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<h2>Access Denied</h2>
	</div>

{% endif %}


{% endblock %}